@page "/CameraCapture"
<h3>CameraCapture</h3>

<p>Camera capture is simple!</p>

<pre><code>
&lt;input type="file" accept="image/*" capture="environment"&gt;
</code></pre>

<p>Capture environment:</p>

<input type="file" accept="image/*" capture="environment">

<br />
<br />

<p>Capture user:</p>

<input type="file" accept="image/*" capture="user">

@code {
    
}