@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<p>This page is an extention of the <a href="https://botched-deployments.com">Botched Deployments</a> Blog.</p>

<p>The purpose of this site is to test out PWA capabilities and Microsoft's Blazor framework.</p>

<p>Feel free to browse through the the pages in the menu to see what's been built so far.</p>
