@page "/TwoCalculatorsPage"
@using PwaPlayground.Components

<PageTitle>Two single calculator</PageTitle>

<h1>Two Calculators</h1>

<h2>Calculator one</h2>

<Calculator></Calculator>

<h2>Calculator two</h2>

<Calculator></Calculator>

